@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
h1 {
  text-align: center;
}

.game-modes {
    background-color: #652cb3;
    border: 4px solid black;
    border-radius: 2em;
    padding: 1em;
    right: 2em;
    max-width: 500px;
    /* padding-left: ; */
    margin: 2em;
}

.game-card {
    background-color: #eec6ff;
    border-radius: 1em;
    border: 4px solid black;
    padding: 2em;
    width: 8em;
    /* margin: 0 auto; */
    cursor: pointer;
    text-align: center;
    position: relative; 
  }

  .game-card h3 {
    font-family: 'Fredoka', sans-serif;
    margin-top: 0;
    transition: transform 0.3s ease;
  }
  
  .game-card:hover h3 {
    transform: translateY(-15px);
  }

  .hide {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
  }

  .game-card:hover > .hide {
    display: block;
  }
  