@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Aleo', serif, sans-serif;
  background: #191821;
  color: #fdf4ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  font-size: 0.85rem;
  letter-spacing: 0.034em;

  font-style: italic;
  font-weight: 900;
  font-family: 'Aleo', serif;
  text-transform: uppercase;

  box-shadow: inset 0 -1px 2px 1px rgb(0 0 0 / 0.2);

  border-radius: 0.167rem;
  max-width: 20rem;

  transition: all 0.16s ease-in-out;
  padding: 0.5rem 1.2rem;

  color: #000000;
  background: #fff;
  border: 1px solid #000000;

  &:hover, &:focus {
    color: #333;
      background: #999;
      border-color: #333;
  }

  &:active {
    box-shadow: inset 0 1px 2px 21x rgb(0 0 0 / 0.2);
  }

  &.primary {
      color: #534300;
      background: #ffe30e;
      border-color: #534300;
      box-shadow: inset 0 -1px 2px 1px rgba(93 74 0 / 0.6);

    &:hover, &:focus {
      color: #9b7c00;
      background: #fff706;
      border-color: #392e00;

      box-shadow: inset 0 -1px 4px 1px rgba(93 74 0 / 0.6), 
        0 0px 8px 1px rgba(245, 196, 0, 0.2);
    }

    &:active {
      color: #655a07;
      background: #cdc719;
      box-shadow: inset 0 1px 2px 1px rgba(120, 96, 0, 0.6),
        0 0px 4px 1px rgba(245, 196, 0, 0.2);
    }
  }

  &.secondary {
    color: #5f0056;
    background: #e356d5;
    border-color: #5f0056;

    box-shadow: inset 0 -1px 2px 1px rgb(95 0 86 / 0.6);

    &:hover, &:focus {
      color: #930184;
      background: #ff3fec;
      border-color: #43003d;
      box-shadow: inset 0 -1px 2px 1px rgba(136, 0, 122, 0.6),
        0 0px 6px 1px rgba(215, 5, 252, 0.3);
    }

    &:active {
      color: #76156c;
      background: #da3fcb;
      // background: #a70096;
      box-shadow: inset 0 1px 4px 1px rgba(93, 0, 83, 0.8),
        0 0px 3px 1px rgba(215, 5, 252, 0.3);
    }
  }
}

