@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Aleo', serif, sans-serif;
  background: #080020;
  color: #fdf4ff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
