body {
    display: flex;
    flex-direction: column;
    background-color: #8d54db;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.loginContainer {
    background-color: #eec6ff;
    display: flex;
    text-align: center;
    border: 5px solid black;
    height: 96.5vh;
    border-radius: 1em;
}

.landingContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}