@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.container {
    display: flex;
}

.container h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    color: white;
}

.players {
    text-align: center;
    border: 4px solid black;
    border-radius: 2em;
    background-color: #652cb3;
    overflow-y: scroll;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 400px;
    max-height: 400px;
    margin-right: 1em;
}
.players ul {
    font-size: larger;
}

.players li {
    margin-left: -2em;
    list-style: none;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 3px solid black;
    background-color: #eec6ff;
    border-radius: 8px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.left h2 {
    text-align: center;
    margin-bottom: 2px;
}