@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.lobby-content {
    text-align: center;
}

.create-lobby-button button{
    margin-top: 3em;
    margin-bottom: 1em;
    background-color: #eec6ff;
    border: 4px solid black;
    border-radius: 8px;
    padding: 0.25em;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: medium;

    cursor: pointer;
}

.create-lobby-button button:hover {
    background-color: #693fe7;
    border: 4px solid rgba(0, 0, 0, 0.3);
    color: white;
    transition: 0.3s;
}

.lobby-content h2 {
    color: white;
    font-family: 'Fredoka', sans-serif;
}