.chat-container {
    background-color: white;
    width: 50vh;
    height: 50vh;
    border: solid black;
    display: flex;
    flex-direction: column;
}

.messages-container {
    height: 100%;
    overflow: auto;
}

.message {
    color: black;
}

.display-name {
    color: blue;
}

.messages-form {
    border-top: solid black;
    display: flex;
}

input {
    flex: 1;
}