@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.chat-container {
    background-color: #652cb3;
    width: 60vw;
    min-width: 420px;
    max-width: 420px;
    height: 50vh;
    border: 4px solid black;
    display: none;
    flex-direction: column;
    padding: 0.5em;
    margin-bottom: 0;
    border-radius: 8px;
}

.messages-container {
    height: 100%;
    overflow: auto;
    border: 3px solid black;
    padding: 0.5em;
    background-color: hsla(282, 100%, 89%, 0.671);
    border-radius: 8px;
}

.message {
    color: black;
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.sent {
    justify-content: flex-end;
}

.message-text {
    background-color: rgb(255, 255, 255);
    border: solid grey;
    border-radius: 0.5em;
    padding: 0.3em;
    font-family: 'Fredoka', sans-serif;
}

.display-name {
    color: rgb(27, 17, 27);
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.messages-form {
    display: flex;
    margin: 0.5em;
}

.messages-form button {
    background-color: #eec6ff;
    margin-right: -8px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

.messages-form button:hover {
    background-color: #ad95f5;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.chat-button span:active {
    background-color: #6a3daa;
    border: 4px solid rgba(0, 0, 0, 0.8);
    color: #ccc;
}

.messages-form input {
    flex: 1;
    border-radius: 5px;
    margin-right: 0.5em;
    margin-left: -8px;
    border: 2px solid black;
    background-color: #d6c1f5;
    font-family: 'Fredoka', sans-serif;
    font-size:medium
}

.chat-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin-top: 0;
  }

.chat-button span {
    border: 4px solid black;
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    background-color: #5502c9;
    color: white;
    cursor: pointer;
}


.chat-button span:hover {
    background-color: #693fe7;
    border: 4px solid rgba(0, 0, 0, 0.3);
}

.chat-button span:active {
    background-color: #6a3daa;
    border: 4px solid rgba(0, 0, 0, 0.8);
    color: #ccc;
}
