.gc-sidebar {
    transition: all 0.34s ease-in-out;

    background: #221f2f;
    border-right: 1px solid #000623;
    box-shadow: 0px 0px 15px 0px #161622;

    &:hover {
        background: #262333;
    }

    &:hover .gc-logo {
        text-shadow: var(--color-pink) 1px 1px 5px, var(--color-yellow) -1px -1px 5px, var(--color-blue) 0px 0px 8px, var(--color-pink) 0px 0px 8px;
    }
}